{% extends 'frontend/frontheaderfooter.html.twig' %}


{% block content %}


    <div class="container">
        <h1>Modifier ce service</h1>
        {{ include('service/_form_service.html.twig') }}
        <div class="row">
            <td><a class="btn btn-success" href="{{ path('service_index')}}" > Liste des services</a></td>
        </div>
        <div class="row">
        </div>
    </div>

{% endblock %}
