{% extends 'frontend/frontheaderfooter.html.twig' %}


{% block content %}
<div class="container">
    <h3>Créer un nouveau service</h3>

    <div class="row">
        {{ include('service/_form_service.html.twig') }}
    </div>
    <div class="row">
            <td><a class="btn btn-success" href="{{ path('service_index')}}" > Liste des services</a></td>
    </div>
</div>
{% endblock %}
