{% extends 'frontend/frontheaderfooter.html.twig' %}

{% block content %}


    <div class="container"> <br> <br>
        <h1>Créer votre réclamation</h1>
        <a href="{{ path('reclamation_index') }}">Liste des réclamations</a>
        <div class="row">
            {{ include('reclamation/_form_rec.html.twig') }}
        </div>
    </div>


{% endblock %}
