{% extends 'frontend/frontheaderfooter.html.twig' %}

{% block content %}
<div class="container">
    <h2>Modifier votre demande d'attestation</h2>
    {{ include('attestation/_form_attestation.html.twig') }}
    <div class="row">
        <td><a class="btn btn-success" href="{{ path('attestation_index') }}" > Liste des attestations </a></td>
    </div>
    <div class="row">
    </div>
</div>



{% endblock %}





