{% extends 'frontend/frontheaderfooter.html.twig' %}


{% block content %}

<div class="container"> <br> <br>
    <h2>Demander votre attestation</h2>
    <div class="row">
        {{ include('attestation/_form_attestation.html.twig') }}
    </div>
    <div class="row">
        <td><a class="btn btn-success" href="{{ path('attestation_index') }}" > Liste des demandes d'attestations </a></td>
    </div>
</div>



{% endblock %}
