{% extends 'frontend/frontheaderfooter.html.twig' %}


{% block content %}
    <div class="container mt-4 mb-5">
            <h1>Edit Entreprise</h1>
        <div class="mt-4">
            {{ include('entreprise/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
        <div class="mt-4">
            <span class="bt-action-form">
            <a href="{{ path('entreprise_index') }}">back to list</a>
            </span>
        </div>
        <div class="mt-3">
        {{ include('entreprise/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
