
{% extends 'frontend/frontheaderfooter.html.twig' %}
    {% block content %}
        <section class="agent-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="breadcrumb-text titre-offre">
                            <h4>Offres d'embauche</h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="agent-search-form">
                            <form action="#">
                                <input type="text" placeholder="Cherche une offre d'embauche">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="as-slider owl-carousel owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-2790px, 0px, 0px); transition: all 1.2s ease 0s; width: 5580px;">
                            <div class="owl-item cloned" style="width: 930px;">
                                <div class="row">
                                    {% for embauche in embauches %}
                                        <div class="col-md-8">
                                            <div class="as-item">
                                                <div class="row">
                                                    <div class="col-md-10 text-lg-left">
                                                        <div class="font-weight-bold"> Poste :
                                                            <span style="font-weight: normal"> {{embauche.titre}} </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row as-text">
                                                    <div class="col-md-10 text-lg-left">
                                                        <div class="font-weight-bold">Description </div>
                                                        <p>{{ embauche.description }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <a href={{ path('entretien_new') }} class="primary-btn">Postuler</a>
                                        </div>
                                    {% else %}
                                        <tr>
                                            <a href="{{ path('embauche_new') }}">Il n y a rien</a>
                                        </tr>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}