{% extends 'frontend/frontheaderfooter.html.twig' %}

{% block content %}

<div class="alert alert-success" role="alert">
    <h1>Create new Embauche</h1>
</div>
    {{ include('embauche/_form.html.twig') }}

    <a href="{{ path('embauche_index') }}"><button type="button" class="btn btn-info">Back To list</button></a>
{% endblock %}
